
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">FOOTURIST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/" data-translate="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html" data-translate="about">About</a></li>    
                <li class="nav-item"><a class="nav-link" href="projeler.html">Project</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html" data-translate="contact">Contact Us</a></li>                
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="/change-language?lang=tr">Türkçe</a></li>
                        <li><a class="dropdown-item" href="/change-language?lang=en">English</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>